<h2>ADD NEW POST</h2>
<br />
<br />

<p2>
<form action="/new" method = "POST" role="form">

	<div class="col">
      <input name="author"  type="text" style= "width: 400px" class="form-control" placeholder= "Type your nickname here" value= <%= @author%>>
    </div>
<br />
<textarea name="content" style= "width: 400px"	 class="form-control"rows="6" placeholder="Type post text here" value= <%= @content%>></textarea>
<br /> 
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</p2>
