<h2>ADD NEW POST</h2>
<p2><form action="/new" method = "POST" role="form">
<textarea class="form-control"rows="6" placeholder="Type post text here"></textarea>
<br /> 

<button type="submit" class="btn btn-primary">Submit</button>
</form></p2>
